[submodule "submoduleA"]
	path = submoduleA
	url = git@github.com:adamlukaszczyk/trainingSubmoduleChild.git
[submodule "submoduleB"]
	path = submoduleB
	url = git@github.com:adamlukaszczyk/trainingSubmoduleChild.git
[submodule "submoduleC"]
	path = submoduleC
	url = git@github.com:adamlukaszczyk/trainingSubmoduleChild.git
