[submodule "submoduleA"]
	path = submoduleA
	url = https://github.com/adamlukaszczyk/trainingSubmoduleChild
[submodule "submoduleB"]
	path = submoduleB
	url = https://github.com/adamlukaszczyk/trainingSubmoduleChild
